.form {
	position: absolute;
	background: var(--base50);
	min-width: 300px;
	padding: 20px;
	border: 1px solid var(--base300);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 5px #0000001a;
	z-index: 1000;
}
