.container {
	display: grid;
}

.chart > button {
	opacity: 0;
	transition: opacity 0.25s;
}

.chart:hover > button {
	opacity: 1;
}

.chart {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.tooltip {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tooltip .value {
	text-transform: lowercase;
}
