.table {
	position: relative;
	display: grid;
	grid-template-rows: fit-content(100%) auto;
	overflow: hidden;
	flex: 1;
}

.body {
	position: relative;
	height: 100%;
	overflow: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 40px;
}

.title {
	display: flex;
	font-weight: 600;
}

.metric {
	font-weight: 600;
	text-align: center;
	width: 100px;
}

.row {
	position: relative;
	height: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.label {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.label a {
	color: inherit;
	text-decoration: none;
}

.label a:hover {
	color: var(--primary400);
}

.label:empty {
	color: #b3b3b3;
}

.label:empty:before {
	content: 'Unknown';
}

.value {
	text-align: end;
	font-weight: 600;
	display: inline;
}

.percent {
	position: absolute;
	width: 100%;
	padding-inline-start: 10px;
	z-index: 1;
	height: 100%;
	pointer-events: none;
}

.percentValue {
	display: inline-block;
	width: 40px;
	color: var(--base600);
	text-align: right;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	opacity: 0.1;
	background: var(--primary);
	z-index: -1;
	border-radius: 3px;
}

.empty {
	min-height: 200px;
}

.content {
	padding: 0 5px;
	display: flex;
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.body {
		height: auto;
	}
}
